In [29]:
import pandas as pd
import requests
import json
response = json.loads(requests.get("http://127.0.0.1:5000/vg_data").text)
data = response[0]["merged_data"]
games_data = pd.DataFrame.from_dict(data)
games_data

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Price,Mean,Median
0,ADVENTURES OF TRON,2600,1981,Action,Mattel Interactive,630000,30000,0,10000,670000,16.10,False,False
1,AIRLOCK,2600,1981,Action,Data Age,360000,20000,0,0,390000,17.00,False,False
2,ALIEN,2600,1981,Action,20th Century Fox Video Games,740000,40000,0,10000,790000,70.20,True,True
3,ARMOR AMBUSH,2600,1981,Action,Mattel Interactive,150000,10000,0,0,170000,9.92,False,False
4,ASTEROIDS,2600,1980,Shooter,Atari,4000000,260000,0,50000,4310000,13.01,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,SUPER STREET FIGHTER II,SNES,1993,Fighting,Nintendo,520000,160000,1290000,30000,2000000,65.36,True,True
1277,TEENAGE MUTANT NINJA TURTLES TOURNAMENT FIGHTERS,SNES,1992,Fighting,Konami Digital Entertainment,0,0,60000,0,60000,108.88,True,True
1278,TETRIS ATTACK,SNES,1995,Puzzle,Nintendo,0,0,150000,0,150000,36.19,False,True
1279,UN SQUADRON,SNES,1991,Shooter,Capcom,0,0,120000,0,120000,83.43,True,True
1280,WORLD LEAGUE SOCCER,SNES,1991,Sports,Imagineer,0,0,150000,0,150000,13.51,False,False

In [22]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Load CSVs
price_data = pd.read_csv("data/all_console_prices.csv", encoding='utf-8')
games_data = pd.read_csv("data/vgsales.csv", encoding='utf-8')

# Master dictionary to push to MongoDB
vg_project = {}

# Create cleaned DF for all video games data
games_all_df = games_data.copy()
games_all_df = games_all_df[['Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sort_values(by=['Platform', 'Name']).reset_index(drop=True)
games_all_df['Year'].replace('', np.nan)
games_all_df = games_all_df.dropna()
games_all_df['Year'] = games_all_df['Year'].astype(int)
games_all_df['NA_Sales']  = games_all_df['NA_Sales'] .multiply(1000000).astype(int).replace(np.nan,0)
games_all_df['EU_Sales']  = games_all_df['EU_Sales'] .multiply(1000000).astype(int).replace(np.nan,0)
games_all_df['JP_Sales']  = games_all_df['JP_Sales'] .multiply(1000000).astype(int).replace(np.nan,0)
games_all_df['Other_Sales']  = games_all_df['Other_Sales'] .multiply(1000000).astype(int).replace(np.nan,0)
games_all_df['Global_Sales']  = games_all_df['Global_Sales'] .multiply(1000000).astype(int).replace(np.nan,0)
games_all_df['Name'] = games_all_df['Name'].str.upper() 
games_all_df['Name'] = games_all_df['Name'].str.replace(r'[^\w\s]+', '')
wip_dict = games_all_df.to_dict("records")
vg_project["games_all"] = (wip_dict)
games_all_df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,ACTION FORCE,2600,1982,Action,CPG Products,500000,30000,0,10000,540000
2,ADVENTURES OF TRON,2600,1981,Action,Mattel Interactive,630000,30000,0,10000,670000
3,AIR RAID,2600,1981,Action,Men-A-Vision,720000,40000,0,10000,770000
5,AIRLOCK,2600,1981,Action,Data Age,360000,20000,0,0,390000
6,ALIEN,2600,1981,Action,20th Century Fox Video Games,740000,40000,0,10000,790000
...,...,...,...,...,...,...,...,...,...,...
16593,WOLFENSTEIN THE OLD BLOOD,XOne,2015,Action,Bethesda Softworks,70000,70000,0,10000,150000
16594,XCOM 2,XOne,2016,Strategy,Take-Two Interactive,10000,10000,0,0,20000
16595,ZOMBIE ARMY TRILOGY,XOne,2015,Shooter,Rebellion Developments,40000,50000,0,10000,100000
16596,ZOO TYCOON 2013,XOne,2013,Simulation,Microsoft Game Studios,180000,130000,0,30000,340000
16597,ZUMBA FITNESS WORLD PARTY,XOne,2013,Misc,Majesco Entertainment,170000,50000,0,20000,230000

In [12]:
games_clean = (games_all_df[(games_all_df['Platform'] == '2600') | (games_all_df['Platform'] == 'NES')
                                     | (games_all_df['Platform'] == 'GEN') | (games_all_df['Platform'] == 'SNES')
                                     | (games_all_df['Platform'] == 'N64') | (games_all_df['Platform'] == 'SCD')
                                     | (games_all_df['Platform'] == 'SAT') | (games_all_df['Platform'] == 'PS')]).reset_index(drop=True)
games_clean_df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,ACTION FORCE,2600,1982,Action,CPG Products,500000.0,30000.0,NaN,10000.0,540000
2,ADVENTURES OF TRON,2600,1981,Action,Mattel Interactive,630000.0,30000.0,NaN,10000.0,670000
3,AIR RAID,2600,1981,Action,Men-A-Vision,720000.0,40000.0,NaN,10000.0,770000
5,AIRLOCK,2600,1981,Action,Data Age,360000.0,20000.0,NaN,NaN,390000
6,ALIEN,2600,1981,Action,20th Century Fox Video Games,740000.0,40000.0,NaN,10000.0,790000
...,...,...,...,...,...,...,...,...,...,...
2186,YUU YUU HAKUSHO,SNES,1993,Fighting,Namco Bandai Games,NaN,NaN,360000.0,NaN,360000
2187,YUU YUU HAKUSHO 2 KAKUTOU NO SHO,SNES,1994,Fighting,Namco Bandai Games,NaN,NaN,310000.0,NaN,310000
2188,ZENNIPPON GT SENSHUKEN,SNES,1995,Racing,Banpresto,NaN,NaN,40000.0,NaN,40000
2189,ZERO4 CHAMP RR,SNES,1994,Sports,Media Rings,NaN,NaN,360000.0,NaN,360000
2190,ZERO4 CHAMP RRZ,SNES,1995,Racing,Media Rings,NaN,NaN,100000.0,NaN,100000